@charset 'utf-8';

ПЕРЕМЕННЫЕ

/*Пример 1*/
h1.title {
    font: normal 24px/1.5 "Open Sans", sans-serif;
    color: #F44336;
}

div.container {
    color: #F44336;
    background: #fff;
    width: 100%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

МИКСИНЫ Mixin (примеси)

/*Пример 1*/
.small-blue-square {
    width: 20px;
    height: 20px;
    background-color: blue;
}

.big-red-square {
    width: 300px;
    height: 300px;
    background-color: red;
}

/*Пример 2*/
.frame:hover {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

ЭКСТЕНДЫ Extend

/*Пример 1*/
.dialog-button,
.confirm,
.cancel {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #ffffff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    padding: 12px 40px;
    cursor: pointer;
}

.confirm {
    background-color: #87bae1;
    float: left;
}

.cancel {
    background-color: #e4749e;
    float: right;
}

ВЛОЖЕННЫЕ КОНСТРУКЦИИ

/*Пример 1*/
ul {
    list-style: none;
}

ul li {
    padding: 15px;
    display: inline-block;
}

ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #444;
}

ОПЕРАЦИИ

/*Пример 1*/
.container {
    width: 800px;
}

.column-half {
    width: 400px;
}

.column-fifth {
    width: 160px;
}


ФУНКЦИИ

/*Пример 1*/
a {
    padding: 10px 15px;
    background-color: #2196F3;
}

a:hover {
    background-color: #0c7cd5;
}
